# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local
packages/platform/dist
packages/server/dist
/build/
temp
stats.html

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.zed
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

.env
.env.prod
.env.qa
i18n
commits.txt
packages/server/uploads

install-state.*

server/client
